/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*MISC*/
/*FONT-FAMILY*/
/*FONT-SIZES*/
/*SPACINGS*/
/*COLORS*/
/*NORMALIZE ELEMENTS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif; }

p {
  font-family: "PT Sans", sans-serif; }

.btn-danger {
  background-color: #D90429; }
  .btn-danger:hover {
    background-color: #EF233C; }

body.dark-mode .modal-content {
  background-color: #161A1D;
  color: #EDF2F4; }

/*FLEX*/
/*TEXT SHORTENING*/
/*MEDIA QUERIES*/
.win {
  background-color: #336e37 !important;
  color: #EDF2F4; }

.lose {
  background-color: #D90429 !important;
  color: #EDF2F4; }

/*PARTIALS*/
/*HEADER*/
header {
  background-color: #EDF2F4;
  height: 15vh;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: sticky; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 1.2em; }
    header .navbar .btn .iconify {
      font-size: 5em; }
      body.dark-mode header .navbar .btn .iconify {
        background-color: #161A1D;
        color: #EDF2F4; }
    header .navbar .offcanvas {
      background-color: #EDF2F4; }
      header .navbar .offcanvas-header .offcanvas-title {
        font-size: 45px;
        font-family: "Nunito", sans-serif;
        font-weight: 800; }
      header .navbar .offcanvas-body {
        font-size: 30px;
        font-family: "PT Sans", sans-serif;
        height: 60%;
        flex-grow: 0; }
        header .navbar .offcanvas-body ul li a:hover {
          text-decoration: underline; }
      header .navbar .offcanvas form {
        margin: 0 auto; }
        header .navbar .offcanvas form .form-check-input {
          margin: auto 1.2em;
          height: 1.5em;
          width: 3.5em; }
          header .navbar .offcanvas form .form-check-input:focus {
            box-shadow: none;
            border-color: rgba(0, 0, 0, 0.4);
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>"); }
          header .navbar .offcanvas form .form-check-input:checked {
            background-color: #D90429;
            border: none;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>"); }
        header .navbar .offcanvas form .form-check-label {
          font-size: 30px;
          line-height: 0.8em; }
          header .navbar .offcanvas form .form-check-label .iconify {
            margin: auto 0; }
      body.dark-mode header .navbar .offcanvas {
        background-color: #161A1D;
        color: #EDF2F4; }
    header .navbar__logo {
      margin: 0;
      height: 15vh; }
      header .navbar__logo img {
        height: 100%; }
  body.dark-mode header {
    background-color: #161A1D;
    color: #EDF2F4; }

#main {
  background: url("../../img/geofinder/gf-home-background.svg") no-repeat center center fixed;
  min-height: 75vh;
  background-color: #EDF2F4;
  width: 100vw;
  padding: 5vh 0; }
  body.dark-mode #main {
    background-color: #0B090A;
    color: #EDF2F4; }

footer {
  height: 10vh;
  border-top: 2px solid #0B090A;
  background-color: #EDF2F4;
  position: sticky;
  font-family: "PT Sans", sans-serif; }
  footer ul {
    font-size: 20px; }
    footer ul li a:hover {
      text-decoration: underline; }
  footer p {
    font-size: 13px; }
  body.dark-mode footer {
    background-color: #161A1D;
    color: #EDF2F4; }

/*VIEWS*/
#main .container {
  height: 65vh;
  width: 500px;
  padding: 2% 0 3%;
  z-index: 10;
  background-color: white;
  border-radius: 5em;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4); }
  #main .container h1 {
    font-size: 55px; }
  #main .container h2 {
    font-size: 45px; }
  #main .container p {
    font-size: 20px; }
  #main .container a {
    height: 20%;
    width: 60%; }
    #main .container a .btn {
      height: 100%;
      width: 100%;
      font-size: 45px;
      border-radius: 2em;
      background-color: #D90429;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
      transition: all 500ms; }
      #main .container a .btn:hover {
        background-color: #EF233C;
        transform: scale(1.1);
        transition: all 500ms; }
  #main .container .carousel {
    margin-top: 5%;
    height: 15vh; }
    #main .container .carousel-control-prev {
      left: -15%;
      top: -25%; }
    #main .container .carousel-control-next {
      right: -15%;
      top: -25%; }
  body.dark-mode #main .container {
    background-color: #161A1D;
    color: #EDF2F4; }

body.dark-mode #main {
  background-color: #0B090A;
  color: #EDF2F4; }

#game-main {
  background-color: #EDF2F4;
  max-height: 75vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap; }
  #game-main .guess-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 30%;
    height: 75vh;
    background-color: #EDF2F4;
    padding: 2em; }
    #game-main .guess-section .form-control {
      width: 80%;
      height: 4vh;
      border: none;
      font-size: 20px;
      padding: 0 3%;
      background-color: #dadada; }
    #game-main .guess-section .btn {
      height: 12%;
      width: 45%;
      font-size: 30px;
      border-radius: 2em;
      background-color: #D90429;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
      transition: all 500ms; }
      #game-main .guess-section .btn:hover {
        background-color: #EF233C;
        transform: scale(1.1);
        transition: all 500ms; }
    #game-main .guess-section .guesses {
      height: auto;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap; }
      #game-main .guess-section .guesses .guess {
        height: 4vh;
        width: 100%;
        font-size: 13px;
        padding: 0 3%;
        margin-bottom: 1vh;
        background-color: #dadada; }
        body.dark-mode #game-main .guess-section .guesses .guess {
          background-color: #161A1D;
          color: #EDF2F4; }
    #game-main .guess-section .form-select {
      height: 4vh;
      width: 80%;
      margin: 0;
      font-size: 13px;
      padding: 0 3%;
      background-color: #dadada; }
      body.dark-mode #game-main .guess-section .form-select {
        background-color: #161A1D;
        color: #EDF2F4; }
    body.dark-mode #game-main .guess-section {
      background-color: #0B090A;
      color: #EDF2F4; }
  #game-main .image-section {
    width: 75%;
    height: 100%; }
    #game-main .image-section .carousel .carousel-inner .carousel-item img {
      height: 75vh; }
  body.dark-mode #game-main {
    background-color: #0B090A;
    color: #EDF2F4; }

#main .profile-card__title {
  border-bottom: 1px solid #161A1D;
  margin: 0 3%; }

#main .profile-card__info .profile-card__me .profile-card__avatar img {
  border: 3px solid #161A1D; }

body.dark-mode #main {
  background-color: #0B090A;
  color: #EDF2F4; }

body.dark-mode #main {
  background-color: #0B090A;
  color: #EDF2F4; }

body.dark-mode #main {
  background-color: #0B090A;
  color: #EDF2F4; }
